<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5084183021-70ejb2e7pnfm22rvlru3j6r4ob9t0o86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5084183021-70ejb2e7pnfm22rvlru3j6r4ob9t0o86</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>5084183021-spk6ebs40jmdmrn27923mcpbob7r4o45.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYehTOvGIGYwmrGv_0Q4GmSnK9GPusazc</string>
	<key>GCM_SENDER_ID</key>
	<string>5084183021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tatsam.app1</string>
	<key>PROJECT_ID</key>
	<string>tatsam-fd8d9</string>
	<key>STORAGE_BUCKET</key>
	<string>tatsam-fd8d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5084183021:ios:2e493d417f8cfcbc73cfe4</string>
</dict>
</plist>